@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  color: hsl(53, 13%, 20%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 95%);
  color: hsl(53, 13%, 20%);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0 0 0;
  padding: 0;
  text-wrap: balance;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-wrap: balance;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0 0 0;
  padding: 0;
}

.head-2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  text-transform: lowercase;
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  padding: 0 0 1.5em 0;
}

.caps {
  text-transform: uppercase;
}

.nocaps {
  text-transform: lowercase;
}

.p-center {
  margin: 1rem 0 0 0;
  text-align: center;
  text-wrap: balance;
}

.p-italic {
  font-style: italic;
}

.h-italic {
  font-style: italic;
}

.b-1 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: hsl(0, 0%, 95%);
  background-color: hsl(187, 100%, 22%);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}

.b-1:hover {
  background-color: hsl(70, 8%, 44%);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.b-2 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0 4rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(187, 100%, 22%);
  color: hsl(0, 0%, 95%);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}

.b-2:hover {
  background-color: hsl(70, 8%, 44%);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.b-3 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: hsl(187, 100%, 22%);
  color: hsl(0, 0%, 95%);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
}

.b-3:hover {
  background-color: hsl(70, 8%, 44%);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.btn-width {
  width: 12rem;
}

.bottom-insert {
  position: relative;
  width: 100%;
  height: 33.3333333333vw;
  min-height: 18rem;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: hsl(73, 5%, 64%);
}

.bottom-insert img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-container-img {
  position: relative;
  width: 100%;
  height: 20vh;
  margin: 4rem 0 4rem 0;
  padding: 0;
  z-index: 10;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  background-color: hsl(73, 5%, 64%);
}

.full-container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.full-container-img-insert {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4rem 0 4rem 0;
  padding: 0;
  z-index: 10;
}
@media (max-width: 576px) {
  .full-container-img-insert {
    margin: 2rem 0 4rem 0;
  }
}

.fci-insert-img {
  width: 8rem;
  height: 8rem;
  margin: 0 1rem 0 1rem;
  object-fit: cover;
  object-position: center;
  background-color: hsl(73, 5%, 64%);
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
  .fci-insert-img {
    width: 6rem;
    height: 6rem;
    margin: 0 0.5rem 0 0.5rem;
  }
}

.fci-insert-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.quote-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: hsla(53, 13%, 20%, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
  width: 100%;
  min-height: 22rem;
}

.quote-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 4rem 0 4rem 0;
}
@media (max-width: 560px) {
  .quote-section-container {
    width: 80vw;
  }
}

.quote-section-container h3 {
  color: hsl(0, 0%, 95%);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-wrap: balance;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.quote-section-container h4 {
  color: hsl(0, 0%, 95%);
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.main-container {
  position: relative;
  width: 100%;
}

.info-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0 4rem 0;
}
@media (max-width: 1440px) {
  .info-container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .info-container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .info-container {
    display: 80;
  }
}
@media (max-width: 576px) {
  .info-container {
    display: 90;
  }
}

.main-text-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 768px) {
  .main-text-container {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .main-text-container {
    width: 90%;
  }
}

.map-container {
  width: 70%;
  height: 50vh;
  margin: 8rem auto 8rem auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .map-container {
    width: 80%;
    height: 40vh;
  }
}
@media (max-width: 576px) {
  .map-container {
    width: 100%;
    height: 40vh;
    border-radius: 0 0 0 0;
  }
}

.about-img {
  object-position: 45% 60%;
}

.about-img-bottom {
  object-position: 40% 35%;
}

.about-sandwerf-img {
  object-position: 50% 70%;
}

.about-sandwerf-img-bottom {
  object-position: 30% 35%;
}

.about-community-img {
  object-position: 50% 0%;
}

.about-community-img-bottom {
  object-position: 70% 60%;
}

.about-founders-img {
  object-position: 85% 85%;
}

.about-founders-img-bottom {
  object-position: 40% 60%;
}

.project-about-img {
  object-position: 20% 40%;
}

.project-about-img-bottom {
  object-position: 40% 45%;
}

.project-horse-stud-img {
  object-position: 100% 30%;
}

.project-horse-stud-img-bottom {
  object-position: 40% 35%;
}

.project-garden-img {
  object-position: 55% 50%;
}

.project-garden-img-bottom {
  object-position: 55% 50%;
}

.project-weavery-img-bottom {
  object-position: 55% 25%;
}

.retreat-head-img {
  object-position: 30% 18%;
}

.retreat-head-img-bottom {
  object-position: 50% 50%;
}

.visit-visit-sandwerf-img {
  object-position: 75% 20%;
}

.visit-accomodation-img {
  object-position: 35% 70%;
}

.visit-resteraunt-img {
  object-position: 50% 80%;
}

.visit-volonteer-img {
  object-position: 28% 45%;
}

.visit-volonteer-img-bottom {
  object-position: 75% 20%;
}

.contact-head-img {
  object-position: 62% 60%;
}

.vision-head-img {
  object-position: 62% 60%;
}

.vision-bottom-img {
  object-position: 30% 60%;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  -webkit-animation: fadeIn 0.2s ease-in-out forwards;
  animation: fadeIn 0.2s ease-in-out forwards;
  opacity: 1;
}

.header-hidden {
  -webkit-animation: fadeOut 0.2s ease-in-out forwards;
  animation: fadeOut 0.2s ease-in-out forwards;
}

.logo a {
  position: fixed;
  padding: 0.8rem 1rem 0.8rem 1rem;
  left: 15%;
  top: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  color: hsl(53, 13%, 20%);
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  z-index: 150;
}
@media (max-width: 1440px) {
  .logo a {
    left: 10%;
  }
}
@media (max-width: 1100px) {
  .logo a {
    left: 5%;
  }
}
@media (max-width: 912px) {
  .logo a {
    padding: 0.5rem 1rem 0.5rem 1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: 500;
  }
}

.logo a:hover {
  color: hsl(70, 8%, 44%);
}

.main-nav-background {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0.8rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: hsl(70, 8%, 44%);
  z-index: 140;
}
@media (max-width: 912px) {
  .main-nav-background {
    display: none;
  }
}

.main-nav {
  display: flex;
  justify-content: end;
  width: 70%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  z-index: 150;
}
@media (max-width: 1440px) {
  .main-nav {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .main-nav {
    width: 90%;
  }
}
@media (max-width: 912px) {
  .main-nav {
    display: none;
  }
}

.main-nav div {
  margin: 0 0 0 2rem;
}
@media (max-width: 1440px) {
  .main-nav div {
    margin: 0 0 0 1.5rem;
  }
}
@media (max-width: 1100px) {
  .main-nav div {
    margin: 0 0 0 1rem;
  }
}

.main-nav a {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .main-nav a {
    letter-spacing: 0;
  }
}

.main-nav span {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  line-height: 1rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .main-nav span {
    letter-spacing: 0;
  }
}

.main-nav span::after {
  content: "▼";
  display: inline-block;
  margin-left: 2px;
  color: hsl(0, 0%, 95%);
  opacity: 0.8;
  font-size: 0.6rem;
  vertical-align: middle;
}

.main-nav-dropdown {
  position: relative;
}

.main-nav a:hover {
  cursor: pointer;
  color: hsl(73, 5%, 64%);
}

.main-nav span:hover {
  cursor: pointer;
  color: hsl(73, 5%, 64%);
}

.main-nav span:hover::after {
  content: "▲";
  display: inline-block;
  margin-left: 2px;
  color: hsl(0, 0%, 95%);
  opacity: 0.3;
  font-size: 0.6rem;
  vertical-align: middle;
}

.main-nav-dropdown-items {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  left: -3rem;
  top: 2rem;
  min-width: 250px;
  background-color: hsl(0, 0%, 95%);
  margin: 1rem 0 0 0;
  padding: 0.5rem 0.5rem;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
@media (max-width: 1440px) {
  .main-nav-dropdown-items {
    left: -2.5rem;
  }
}
@media (max-width: 1100px) {
  .main-nav-dropdown-items {
    left: -2rem;
  }
}

.main-nav-dropdown:hover .main-nav-dropdown-items {
  opacity: 1;
  visibility: visible;
}

.main-nav-dropdown-items a {
  color: hsl(70, 8%, 44%);
  font-size: 1rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}

.mobile-nav {
  display: none;
  z-index: 150;
}
@media (max-width: 912px) {
  .mobile-nav {
    position: fixed;
    display: flex;
    z-index: 140;
    top: 7rem;
    left: 0;
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: right;
    padding: 1rem 2rem 1rem 0;
    text-align: right;
    flex-direction: column;
    pointer-events: none;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
}

@media (max-width: 912px) {
  .mobile-nav * {
    pointer-events: auto;
  }
}

@media (max-width: 912px) {
  .mobile-nav.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 912px) {
  .mobile-nav li {
    list-style: none;
    font-size: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 912px) {
  .mobile-nav-dropdown span {
    cursor: pointer;
    position: relative;
  }
}

@media (max-width: 912px) {
  .mobile-nav-dropdown span::before {
    content: "▼";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.8rem;
    color: hsl(70, 8%, 44%);
    opacity: 0.5;
    font-size: 0.6rem;
  }
}

@media (max-width: 912px) {
  .mobile-nav-dropdown.active span::before {
    content: "▲";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.8rem;
    color: hsl(70, 8%, 44%);
    opacity: 0.3;
    font-size: 0.6rem;
  }
}

@media (max-width: 912px) {
  .mobile-nav-dropdown-items {
    display: none;
    padding-left: 0;
  }
}

@media (max-width: 912px) {
  .mobile-nav-dropdown-items li a {
    color: hsl(70, 8%, 44%);
    line-height: 1.5rem;
  }
}

@media (max-width: 912px) {
  .mobile-nav-dropdown.active .mobile-nav-dropdown-items {
    display: block;
  }
}

@media (max-width: 912px) {
  .hamburger {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
    z-index: 150;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    -webkit-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
}

@media (max-width: 912px) {
  .hamburger div {
    position: relative;
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.1rem 0;
    background-color: hsl(53, 13%, 20%);
    -webkit-transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
}

@media (max-width: 912px) {
  .hamburger.close div:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(4.5px, 5px);
    transform: rotate(45deg) translate(4.5px, 5px);
  }
}

@media (max-width: 912px) {
  .hamburger.close div:nth-child(2) {
    opacity: 0;
  }
}

@media (max-width: 912px) {
  .hamburger.close div:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(4.5px, -5px);
    transform: rotate(-45deg) translate(4.5px, -5px);
  }
}

footer {
  position: relative;
  z-index: 100;
  background-color: hsl(0, 0%, 95%);
}

.footer-h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: lowercase;
  margin: 2rem 0 0 0;
  padding: 0;
}

.footer-h3 {
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 0.2rem;
  font-weight: 300;
  line-height: 1.2;
  text-transform: lowercase;
  margin: 0 0 2rem 0;
  padding: 0;
}

.footer-line-brake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: hsl(53, 13%, 20%);
}

.footer-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer-text-link:hover {
  color: hsl(73, 5%, 64%);
}

.text-white {
  color: hsl(0, 0%, 95%);
}

.footer-content {
  width: 70vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}
@media (max-width: 1440px) {
  .footer-content {
    width: 80vw;
  }
}
@media (max-width: 1024px) {
  .footer-content {
    width: 90vw;
  }
}
@media (max-width: 768px) {
  .footer-content {
    width: 60vw;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 660px) {
  .footer-content {
    width: 70vw;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .footer-content {
    width: 90vw;
  }
}

.footer-content > div:first-child {
  border-right: 0.5rem solid hsl(73, 5%, 64%);
}
@media (max-width: 768px) {
  .footer-content > div:first-child {
    border-bottom: solid 4px hsl(73, 5%, 64%);
    border-right: none;
  }
}
@media (max-width: 660px) {
  .footer-content > div:first-child {
    border-right: none;
  }
}

.footer-content > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) {
  .footer-content > div {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .footer-content > div:first-child {
    border-bottom: solid 4px hsl(73, 5%, 64%);
    border-right: none;
  }
}

.footer-hr {
  width: 100%;
  height: 10px;
  background-color: hsl(73, 5%, 64%);
  margin: 0 0 2rem 0;
  padding: 0;
  opacity: 0.2;
}
@media (max-width: 1440px) {
  .footer-hr {
    height: 8px;
  }
}
@media (max-width: 1024px) {
  .footer-hr {
    height: 5px;
    opacity: 1;
  }
}

.footer-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer-links-items {
  display: inline;
}
@media (max-width: 768px) {
  .footer-links-items {
    margin: 2rem 0 2rem 0;
  }
}

.footer-links img {
  height: 4rem;
  margin: 1rem;
  padding: 0;
}
@media (max-width: 768px) {
  .footer-links img {
    height: 2.5rem;
    margin: 0.5rem;
    padding: 0;
  }
}

.footer-text-2 {
  font-size: 1rem;
  font-weight: 300;
  color: hsl(70, 8%, 44%);
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer-links img:hover {
  opacity: 0.5;
}

.social-links {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: hsl(73, 5%, 64%);
}

.social-links a img {
  height: 2rem;
  margin: 1rem;
  padding: 0;
  opacity: 1;
}

.social-links a img:hover {
  height: 2.5rem;
  margin: 1rem;
  padding: 0;
  opacity: 0.8;
}

.tcg-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: hsl(0, 0%, 95%);
  z-index: 10;
  margin: 0 0 0 0;
}

.two-col-grid-left {
  display: grid;
  width: 50vw;
  grid-template-columns: 0.9fr 1.1fr;
  grid-gap: 5rem;
  margin: 0 auto 6rem auto;
}
@media (max-width: 1440px) {
  .two-col-grid-left {
    width: 70vw;
    grid-gap: 3rem;
  }
}
@media (max-width: 1024px) {
  .two-col-grid-left {
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
@media (max-width: 768px) {
  .two-col-grid-left {
    width: 100%;
    grid-template-columns: 0.9fr 1.1fr;
    grid-gap: 2rem;
  }
}
@media (max-width: 660px) {
  .two-col-grid-left {
    width: 60%;
    grid-template-columns: 1fr;
    margin: 0 auto 5rem auto;
    grid-gap: 2rem;
  }
}
@media (max-width: 576px) {
  .two-col-grid-left {
    width: 80%;
    grid-template-columns: 1fr;
  }
}

.tcg-margin-top {
  margin-top: 6rem;
}

.two-col-grid-right {
  display: grid;
  width: 50vw;
  grid-template-columns: 1.1fr 0.9fr;
  grid-gap: 5rem;
  margin: 0 auto 6rem auto;
}
@media (max-width: 1440px) {
  .two-col-grid-right {
    width: 70vw;
    grid-gap: 3rem;
  }
}
@media (max-width: 1024px) {
  .two-col-grid-right {
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
@media (max-width: 768px) {
  .two-col-grid-right {
    width: 100%;
    grid-template-columns: 1.1fr 0.9fr;
    grid-gap: 2rem;
  }
}
@media (max-width: 660px) {
  .two-col-grid-right {
    width: 60%;
    grid-template-columns: 1fr;
    margin: 0 auto 5rem auto;
    grid-gap: 2rem;
  }
}
@media (max-width: 576px) {
  .two-col-grid-right {
    width: 80%;
    grid-template-columns: 1fr;
  }
}

.tcg-right-margin-bottom-3 {
  margin: 0 auto 5rem auto;
}

.tcg-img-left {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem 0 0 5rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .tcg-img-left {
    border-radius: 3rem 0 0 3rem;
  }
}
@media (max-width: 768px) {
  .tcg-img-left {
    border-radius: 0 0 0 0;
  }
}

.tcg-img-right {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 5rem 5rem 0;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 1024px) {
  .tcg-img-right {
    border-radius: 0 3rem 3rem 0;
  }
}
@media (max-width: 768px) {
  .tcg-img-right {
    border-radius: 0 0 0 0;
  }
}
@media (max-width: 660px) {
  .tcg-img-right {
    display: none;
  }
}

.tcg-img-top {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 5rem 5rem 0;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 660px) {
  .tcg-img-top {
    display: block;
    border-radius: 0 0 0 0;
  }
}

.tcg-content-right {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  text-align: right;
}
@media (max-width: 768px) {
  .tcg-content-right {
    padding-right: 2rem;
  }
}
@media (max-width: 660px) {
  .tcg-content-right {
    padding-right: 0;
    flex-grow: inherit;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}

.tcg-content-left {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  text-align: left;
}
@media (max-width: 768px) {
  .tcg-content-left {
    padding-left: 2rem;
  }
}
@media (max-width: 660px) {
  .tcg-content-left {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}

.col-header {
  font-size: 1.2rem;
  font-weight: 500;
  color: hsl(70, 8%, 44%);
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.1 rem;
  margin: 0.5rem 0 0 0;
  padding: 0;
}
@media (max-width: 1024px) {
  .col-header {
    font-size: 1.2rem;
  }
}

.tcg-top-space-1 {
  margin: 0 0 0 0;
}
@media (max-width: 660px) {
  .tcg-top-space-1 {
    margin: 1rem 0 0 0;
  }
}

.tcg-top-space-2 {
  margin: 0 0 0 0;
}
@media (max-width: 660px) {
  .tcg-top-space-2 {
    margin: 2rem 0 0 0;
  }
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-image: url(../assets/images/landing-images/home_sandwerf_mainbuilding_1_2400.jpg);
  background-size: cover;
  background-position-x: 45%;
  background-position-y: 45%;
  z-index: 5;
}
@media (max-width: 1440px) {
  .hero {
    background-image: url(../assets/images/landing-images/home_sandwerf_mainbuilding_1_1800.jpg);
  }
}
@media (max-width: 1024px) {
  .hero {
    background-image: url(../assets/images/landing-images/home_sandwerf_mainbuilding_1_1800.jpg);
  }
}
@media (max-width: 768px) {
  .hero {
    background-image: url(../assets/images/landing-images/home_sandwerf_mainbuilding_1_1800.jpg);
  }
}
@media (max-width: 660px) {
  .hero {
    background-image: url(../assets/images/landing-images/home_sandwerf_mainbuilding_1_1800.jpg);
    background-position-x: 35%;
  }
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100svh;
}

.hero-container {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  padding: 2rem 2rem 1rem 2rem;
  background-color: hsla(0, 0%, 95%, 0.7);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
  border-radius: 8rem 0 0 0;
  text-align: center;
  z-index: 10;
}
@media (max-width: 1440px) {
  .hero-container {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .hero-container {
    width: 100%;
    border-radius: 10rem 10rem 0 0;
  }
}
@media (max-width: 768px) {
  .hero-container {
    width: 100%;
    border-radius: 8rem 8rem 0 0;
  }
}
@media (max-width: 660px) {
  .hero-container {
    width: 100%;
    border-radius: 5rem 5rem 0 0;
  }
}

.hero-container-2 {
  position: relative;
  z-index: 10;
  width: 50%;
  margin: 0 0 0 auto;
  padding-bottom: 2rem;
  background-color: hsla(0, 0%, 95%, 0.7);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
}
@media (max-width: 1440px) {
  .hero-container-2 {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .hero-container-2 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero-container-2 {
    width: 100%;
  }
}
@media (max-width: 660px) {
  .hero-container-2 {
    width: 100%;
  }
}

.hero-container-2 > div {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .hero-container-2 > div {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .hero-container-2 > div {
    width: 95%;
  }
}

.hero-container > h1 {
  font-size: 4rem;
  font-weight: 400;
  color: hsl(0, 0%, 30%);
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 1440px) {
  .hero-container > h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 1024px) {
  .hero-container > h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .hero-container > h1 {
    font-size: 3rem;
  }
}

.hero-container > h2 {
  font-size: 1.5rem;
  color: hsl(0, 0%, 30%);
  font-style: italic;
  text-wrap: balance;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
}
@media (max-width: 768px) {
  .hero-container > h2 {
    font-size: 1.2rem;
  }
}

.hero-container-2 > p {
  font-size: 1rem;
  text-wrap: balance;
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.hero-sub-img-wide {
  width: 16rem;
  height: 8rem;
  margin: 0 1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .hero-sub-img-wide {
    width: 12rem;
    height: 7rem;
  }
}
@media (max-width: 660px) {
  .hero-sub-img-wide {
    width: 10rem;
    height: 6rem;
  }
}
@media (max-width: 576px) {
  .hero-sub-img-wide {
    width: 6rem;
    height: 6rem;
  }
}

.hero-sub-img-wide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-sub-img-sq {
  width: 8rem;
  height: 8rem;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .hero-sub-img-sq {
    width: 7rem;
    height: 7rem;
  }
}
@media (max-width: 660px) {
  .hero-sub-img-sq {
    width: 6rem;
    height: 6rem;
  }
}
@media (max-width: 576px) {
  .hero-sub-img-sq {
    width: 6rem;
    height: 6rem;
  }
}

.hero-sub-img-sq > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.form-layout {
  position: relative;
  width: 65%;
  max-width: 800px;
  margin: 1rem auto 4rem auto;
  padding: 2rem;
  background-color: hsla(70, 8%, 44%, 0.1);
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .form-layout {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .form-layout {
    width: 100%;
    border-radius: 0 0 0 0;
  }
}

.form-layout label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: hsl(70, 8%, 44%);
}

.form-layout input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(70, 8%, 44%);
}

.form-layout input[type=submit] {
  display: block;
  width: auto;
  background-color: hsl(187, 100%, 22%);
  color: hsl(0, 0%, 95%);
  padding: 10px 10px;
  margin: 2rem auto 1rem auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.form-layout input[type=submit]:hover {
  background-color: hsl(70, 8%, 44%);
}

.pager-header {
  width: 100vw;
  height: 65vh;
  height: 65svh;
  background-color: hsl(73, 5%, 64%);
}

.pager-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection-container {
  position: relative;
  width: 50vw;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1440px) {
  .collection-container {
    width: 60vw;
  }
}
@media (max-width: 1024px) {
  .collection-container {
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .collection-container {
    width: 90vw;
  }
}

.collection-container h1 {
  margin: 0 auto;
  padding: 4rem 0 0 0;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: hsl(53, 13%, 20%);
}

.collection-container h2 {
  margin: 0 auto;
  padding: 0 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: hsl(53, 13%, 20%);
}

.collection-container > p {
  margin: 0 auto;
  padding: 0 1rem 4rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: hsl(53, 13%, 20%);
}

.cc-card-container-3col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .cc-card-container-3col {
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .cc-card-container-3col {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    margin: 0 auto;
  }
}

.cc-card-container-4col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 4rem;
}
@media (max-width: 1440px) {
  .cc-card-container-4col {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .cc-card-container-4col {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cc-card-container p {
  margin: 0 auto;
  padding: 0 0 2rem 0;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: hsl(53, 13%, 20%);
}

.cc-card-img {
  width: 80%;
  height: 8rem;
  margin: 0 auto 2rem auto;
  background-color: hsl(73, 5%, 64%);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

.cc-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cc-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 0 0;
}
@media (max-width: 768px) {
  .cc-card {
    width: 80%;
  }
}
@media (max-width: 660px) {
  .cc-card {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .cc-card {
    width: 100%;
  }
}
